body {
    font-family: Verdana, Sans-Serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.feed {
    border: 1px solid #DDF;
    float: left;
    margin: 0 1px 1px 0;
    width: 395px;
    white-space: nowrap;
    overflow: hidden;
	border-radius: 3px;
}

.feed:hover a, .feed:hover a:visited {
	opacity: 1 !important;
	color: blue;
}

.feed:hover {
	border: 1px solid blue;
	background-color: #EEE;
}

a {
    font-size: 7pt;
    text-decoration: none;
}

a:hover {
    opacity: 1 !important;
    background-color: #DDD;
    color: blue !important;
}

a:visited {
    color: #EEE;
}

a.title {
    font-weight: bold;
    color: black;
    margin-bottom: 3px;
}

a.link {
    position: relative;
    cursor: pointer;
    width: 100px; 
    padding: 0px;
    margin: 0px;
}

.mini {
    font-size: 7pt;
    color: gray;
}

.invisible {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}

#news {
    border: 1px solid red;
    width: 95%;
    clear: both;
}

.clearer {
    clear: both;
    margin: 1px 0 1px 0;
    border-top: 1px solid green;
    width: 100%;
}

.graph {
	border: 1px solid blue;
	padding: 1px;
    margin: 0 1px 1px 0;
}
